<header>

  <!-- Inicio do navbar -->
  <nav class="navbar navbar-expand-lg">

    <!-- Logo -->
    <a class="navbar-brand" routerLink="home">
      <img src="https://i.ibb.co/0sgx02n/Logo-2.png" alt="Antiquary">
    </a>

    <!-- Botao oculto responsivo -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Botão menu">
      <i class="bi bi-list"></i>
    </button>

    <!-- Área do menu responsiva -->
    <div class="collapse navbar-collapse" id="navbar">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- Campo pesquisa -->
        <li>
          <form class="d-flex">
            <input class="form-control" placeholder="Pesquisar">
          </form>
        </li>

        <!-- Botão para cadastro ou loguin -->
        <li class="nav-item" *ngIf="true">
          <a class="nav-link" id="link-cadastro" routerLink="login">Entrar / Cadastrar</a>
        </li>

        <!-- Dropdown se logado -->
        <li class="nav-item" *ngIf="false">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="link-perfil" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-person-circle"></i>
              &nbsp; Guilherme
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="meu-perfil">Meu perfil</a></li>
              <li><a class="dropdown-item">Sair</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
