@import "../../styles.scss";

header {
    width: 100%;
    padding: 12px 5%;
    display: flex;
    align-items: center;
    background-color: $cor-principal;

    .navbar-brand {
        // aqui deixarei em aberto para a logo da nossa pagina
    }


}