@import "../../styles.scss";

header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $cor-principal;

    nav {
        margin: auto;
        width: 1140px;

        #conteiner-interno {

            #nav-bar {
                display: flex;
                justify-content: space-evenly;
            }

            .form-control {
                width: 460px;
            }
        }


    }
}