@import "../../styles.scss";

header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $cor-principal;

  nav {
    margin: auto;
    width: 1140px;

    a {
      img {
        height: 40px;
      }
    }

    button {
      color: white;
      transition: all 0.5s;

      &:hover {
        color: $cor-terciaria;
      }

      &:focus {
        color: $cor-terciaria;
      }

      i {
        font-size: $tamanho-fonte-muito-grande;
      }
    }

    #navbar {
      ul {
        width: 100%;
        justify-content: flex-end;

        li {
          &:first-of-type {
            margin: auto;
            width: 50%;
          }

          #pesquisa{
            visibility: hidden;
          }

          #link-cadastro {
            color: white;
            font-family: $fonte-secundaria;
            font-weight: 500;
            background-color: $cor-secundaria;
            border: 1px solid black;
            border-radius: 4px;
            transition: all 0.5s;

            &:hover {
              color: $cor-terciaria;
              font-weight: 600;
              border: 1px solid $cor-terciaria;
              transform: scale(1.01);
            }
          }

          @media (max-width: 990px) {
            #link-cadastro {
              padding-left: 10px;

              &:hover {
                transform: none;
              }
            }
          }

          div {
            #link-perfil {
              color: white;
              font-family: $fonte-secundaria;
              background-color: $cor-secundaria;
              border: 1px solid black;
              border-radius: 4px;
              transition: all 0.5s;

              &:hover {
                color: $cor-terciaria;
                border: 1px solid $cor-terciaria;
              }

              &:focus {
                border: 1px solid $cor-terciaria;
              }

              i {
                font-size: $tamanho-fonte-grande;
              }
            }

            ul {
              li {
                width: 100%;
                font-family: $fonte-terciaria;

                a {
                  transition: all 0.5s;

                  &:hover {
                    background-color: rgba($color: $cor-terciaria, $alpha: 0.3);
                  }
                }
              }
            }

            @media (max-width: 990px) {
              #link-perfil {
                padding-left: 10px;
              }
            }
          }
        }

        @media (max-width: 990px) {
          li {
            &:first-of-type {
              width: 100%;
              padding-bottom: 10px;
            }
          }
        }
      }
    }

    @media (max-width: 990px) {
      #navbar {
        padding-top: 10px;
      }
    }
  }
}
