@import "../../styles.scss";

footer {
  background-color: $cor-secundaria;
  color: white;


  #container-externo {
    margin: auto;
    width: 1140px;

    section {
      margin-top: 30px;
    }

    @media (max-width: 990px) {
      section {
        text-align: center;
      }
    }

    #container-imagem {
      img {
        width: 100%;
        max-width: 310px;
      }
    }

    #container-navegacao {
      h4 {
        font-family: $fonte-secundaria;
        margin-bottom: 20px;
      }

      ul {
        padding: 0;

        li {
          height: $tamanho-fonte-enorme;

          a {
            transition: all 0.5s;

            &:hover {
              color: $cor-terciaria;
            }
          }
        }
      }
    }

    #container-social {
      h4 {
        font-family: $fonte-secundaria;
        margin-bottom: 20px;
      }

      article {
        height: $tamanho-fonte-enorme;

        a {
          transition: all 0.5s;

          &:hover {
            color: $cor-terciaria;
          }

          i {
            font-size: $tamanho-fonte-grande;
          }
        }
      }
    }
  }

  @media (max-width: 1170px) {
    #container-externo {
      width: 100%;
    }
  }

  #container-copy {
    margin-top: 20px;
    width: 100%;
    background-color: darken($color: $cor-secundaria, $amount: 3);
    padding: 15px;

    article {
      text-align: center;

      h6 {
        margin: 0;
      }
    }
  }
}
