
 <!-- Conteúdo do site -->
 <footer class="footer">
    <div class="social-media">
        <div class="social-media row justify-content-center">
            <div class="col-6 col-md-2">
                <a href="#" class="social-icon instagram"> <img src="" alt=""> </a>
            </div>
            <div class="col-6 col-md-2">
                <a href="#" class="social-icon linkedin"></a>
            </div>
            <div class="col-6 col-md-2">
                <a href="#" class="social-icon Trabalhe Conosco"></a>
            </div>
            <div class="col-6 col-md-2">
                <a href="#" class="social-icon Sobre"> </a>
            </div>
            <div class="col-6 col-md-2">
                <a href="#" class="social-icon e-mail"> </a>
            </div>
            <div class="col-6 col-md-2">
                <a href="#" class="social-icon enviar"> </a>
            </div>
        </div>
    </div>
    <p>&copy; 2023 Antiquary Todos os direitos reservados.</p>
</footer>

