<footer>

  <!-- Container -->
  <div class="row d-flex justify-content-center" id="container-externo">

    <!-- container logo -->
    <section class="col-lg-4 col-sm-12" id="container-imagem">
      <img src="https://i.ibb.co/yyp5gDm/Logo-1.png" alt="Logo Antiquary - Artigos antigos">
    </section>

    <!-- Links -->
    <section class="col-lg-4 col-sm-12" id="container-navegacao">
      <h4>Navegação</h4>
      <ul>
        <li *ngFor="let link of links"><a [routerLink]="link.rota">{{ link.pagina }}</a></li>
      </ul>
    </section>

    <!-- Social -->
    <section class="col-lg-4 col-sm-12" id="container-social">
      <h4>Nossas redes sociais</h4>
      <article class="row" *ngFor="let social of redesSociais">
        <a [href]="social.link" target="_blank">
          <i [class]="social.icone"></i>
          &nbsp;{{ social.nome }}
        </a>
      </article>
    </section>
  </div>

  <!-- Container Copy -->
  <div id="container-copy">
    <article>
      <h6>&copy; Antiquary 2023. Todos os direitos reservados.</h6>
    </article>
  </div>
</footer>
