<div id="container">

  <!-- Perfil do Vendedor -->
  <div *ngIf="abrir" id="perfil">

    <div>
      <h1 id="name">{{ this.produtoService.getVendedorItem().getNome() }}</h1>
      <section>
        <button (click)="seguir()" class="btn btn-lg"><i *ngIf="!seguindo" class="bi bi-heart"></i><i *ngIf="seguindo" id="seguindo"
            class="bi bi-heart-fill"></i></button>
        <button class="btn btn-lg" id="contato" (click)="contato()"><i class="bi bi-whatsapp"></i></button>
      </section>
    </div>

    <!-- Aqui é o botão de seguir o vendedor,não se é possível quando o cliente clicar ele aparecer seguindo -->
    <div id="seguidores">
      <button class="btn">
        <article>
          <p><strong><i class="bi bi-person-hearts"></i>&nbsp; {{ this.produtoService.getVendedorItem().getSeguidores().length }} </strong></p>
          <p>seguidores</p>
        </article>
      </button>
      <button class="btn">
        <article>
          <p><strong><i class="bi bi-hearts"></i>&nbsp;{{ this.produtoService.getVendedorItem().getSeguindo().length }}</strong></p>
          <p>seguindo</p>
        </article>
      </button>
    </div>
  </div>

  <h2  *ngIf="abrir && this.produtoService.getItensVendedor().length > 0">Itens vendidos</h2>

  <!-- Container de cards -->
  <section  *ngIf="abrir" class="row">
    <article class=" col-lg-4 col-md-12" *ngFor="let item of this.produtoService.getItensVendedor()">

      <!-- Inicio do card -->
      <div class="card mb-4">

        <!-- Imagem do card -->
        <div class="card-img-container imagem-card">
          <img class="card-img-top imagem" [src]="item.getImagens()[0]" [alt]="item.getTitulo()" />
        </div>

        <!-- Corpo do card -->
        <div class="card-body conteudo-card">
          <h5 class="card-title">{{ item.getTitulo() }}</h5>
          <p class="preco">{{ item.getPreco() | currency }}</p>
        </div>

        <!-- Footer com os botões -->
        <div class="card-footer d-flex botoes-card">
          <button class="btn detalhes-produto" (click)="verDetalhes(item.getId())">
            Mais detalhes
          </button>
          <button class="btn contato" (click)="contato()">
            <i class="bi bi-whatsapp"></i>&nbsp;Contato
          </button>
        </div>
      </div>
    </article>
  </section>
</div>
