<div id="container">

  <!-- Perfil do Vendedor -->
  <div id="perfil">

    <div>
      <h1 id="name">{{ usuario.nome }}</h1>
      <section>
        <button class="btn btn-lg"><i *ngIf="true" class="bi bi-heart"></i><i *ngIf="false" id="seguindo"
            class="bi bi-heart-fill"></i></button>
        <button class="btn btn-lg" id="contato"><i class="bi bi-whatsapp"></i></button>
      </section>
    </div>

    <!-- Aqui é o botão de seguir o vendedor,não se é possível quando o cliente clicar ele aparecer seguindo -->
    <div id="seguidores">
      <button class="btn">
        <article>
          <p><strong><i class="bi bi-person-hearts"></i>&nbsp;123</strong></p>
          <p>seguidores</p>
        </article>
      </button>
      <button class="btn">
        <article>
          <p><strong><i class="bi bi-hearts"></i>&nbsp;232</strong></p>
          <p>seguindo</p>
        </article>
      </button>
    </div>
  </div>

  <h2>Itens vendidos</h2>

  <!-- Container de cards -->
  <section class="row">
    <article class=" col-lg-4 col-md-12" *ngFor="let item of itensDoUsuario">

      <!-- Inicio do card -->
      <div class="card mb-4">

        <!-- Imagem do card -->
        <div class="card-img-container imagem-card">
          <img class="card-img-top imagem" [src]="item.imagens[0]" [alt]="item.titulo" />
        </div>

        <!-- Corpo do card -->
        <div class="card-body conteudo-card">
          <h5 class="card-title">{{ item.titulo }}</h5>
          <p class="preco">{{ item.preco | currency }}</p>
        </div>

        <!-- Footer com os botões -->
        <div class="card-footer d-flex botoes-card">
          <button class="btn detalhes-produto" (click)="verDetalhes(item.id)">
            Mais detalhes
          </button>
          <button class="btn contato" (click)="contato(item.usuario_id)">
            <i class="bi bi-whatsapp"></i>&nbsp;Contato
          </button>
        </div>
      </div>
    </article>
  </section>
</div>
