@import '../../styles.scss';

#container {
  padding-top: 30px;
  max-width: 1140px;

  #perfil {
    width: 85%;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;

    button {
        color: $cor-principal;
        font-size: $tamanho-fonte-muito-grande;
        border: 2px solid $cor-principal;
    }
  }

  .card-img-container {
    height: 0;
    padding-bottom: 133.33%;
    /* Proporção 3:4 */
    position: relative;
  }

  .card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
