<div id="container">

  <!-- Perfil do Vendedor -->
  <div id="perfil">

    <h2 id="name">{{ usuario.nome }}</h2>

    <!-- Aqui é o botão de seguir o vendedor,não se é possível quando o cliente clicar ele aparecer seguindo -->
    <div>
      <button id="contato" class="btn" (click)="contato(usuario.id)">
        <i class="bi bi-whatsapp"></i>
      </button>
      <button class="btn seguir">
        <i class="bi bi-heart"></i>
      </button>
    </div>
  </div>

  <!-- Container de cards -->
  <section class="row">
    <article class=" col-lg-4 col-md-12" *ngFor="let item of itensDoUsuario">

      <!-- Inicio do card -->
      <div class="card mb-4">

        <!-- Imagem do card -->
        <div class="card-img-container imagem-card">
          <img class="card-img-top imagem" [src]="item.imagens[0]" [alt]="item.titulo" />
        </div>

        <!-- Corpo do card -->
        <div class="card-body conteudo-card">
          <h5 class="card-title">{{ item.titulo }}</h5>
          <p class="preco">{{ item.preco | currency}}</p>
        </div>

        <!-- Footer com os botões -->
        <div class="card-footer d-flex botoes-card">
          <button class="btn detalhes-produto" (click)="verDetalhes(item.id)">
            Mais detalhes
          </button>
          <button class="btn contato" (click)="contato(item.usuario_id)">
            <i class="bi bi-whatsapp"></i>&nbsp;Contato
          </button>
        </div>
      </div>
    </article>
  </section>
</div>
