<div id="container">

  <form id="cadastro-form">
    <h2>Cadastro</h2>

    <!-- Dados Pessoais -->
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" id="nome" placeholder="Ex:Fulano da Silva" required>
    </div>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" class="form-control" id="email" placeholder="Ex:fulano.silva89@gmail.com" required>
    </div>

    <!-- Verificação se as duas senhas estão digitadas corretamente -->
    <div class="form-group">
      <label for="senha">Senha:</label>
      <input type="password" class="form-control" id="senha" placeholder="De 8 a 14 caracteres" required>
    </div>

    <div class="form-group">
      <label for="senha2">Confirme a senha:</label>
      <input type="password" class="form-control" id="senha2" placeholder="De 8 a 14 caracteres" required>
    </div>

    <article>
        <button class="btn btn-lg">Cadastrar-se</button>
        
        <!-- ao clicar aqui,o campo mudará para um campo de Login -->
        <div id="link">
            <a>Já tenho cadastro</a>
        </div>
    </article>
  </form>
</div>
