<!-- Container descrição do site-->
<div class="container mt-5" id="ContainerDescricao">
  <div class="row">
    <div class="col-md-12 col-sm-12 text-center">
      <div class="mb-5">
        <img src="https://i.ibb.co/0sgx02n/Logo-2.png" alt="Logo" class="img-fluid" />
        <p id="texto" class="mt-3">Curitiba, uma cidade com uma história rica e diversificada, é o lar da Antiquary, uma loja de antiguidades que há décadas tem encantado os moradores locais com suas preciosidades do passado. Desde móveis clássicos a joias vintage, a Antiquary sempre foi um destino imperdível para os amantes de antiguidades.

          No entanto, com a crescente influência da tecnologia e a mudança nos hábitos de compras, a Antiquary percebeu a necessidade de se adaptar para continuar a compartilhar sua paixão pelo passado. Foi então que a ideia de criar um site surgiu.
          
          A equipe por trás da Antiquary estava determinada a criar uma experiência online que fosse tão única e especial quanto sua loja física. Eles queriam capturar a essência da loja, repleta de itens históricos que contam suas próprias histórias.
          
          Após meses de trabalho árduo, pesquisa e fotografia profissional, o novo site da Antiquary estava pronto para ser lançado. No entanto, havia um toque especial neste site: agora ele permitia que pessoas comuns compartilhassem suas próprias peças antigas.
          
          Quando o site finalmente foi ao ar, a resposta foi imediata e espetacular. Os moradores de Curitiba e amantes de antiguidades de todo o Brasil começaram a explorar as diversas seções do site, desde móveis antigos a itens de decoração e até mesmo relíquias de época. E, para surpresa de todos, eles podiam não apenas comprar, mas também vender seus próprios tesouros.
          
          O site da Antiquary tornou-se um mercado virtual de antiguidades, onde pessoas comuns podiam compartilhar suas histórias pessoais e encontrar um novo lar para suas peças amadas. Cada item tinha uma descrição detalhada, revelando sua origem, significado histórico e curiosidades, tudo criado com carinho pelos próprios vendedores.</p>
      </div>
    </div>
  </div>
</div>


<!-- Container fale conosco -->
<div class="container mt-5" id="ContainerFaleConosco">
  <div class="row">
    <div class="col-md-12 col-sm-12 text-center">
      <h2>Deixa um feedback</h2>
      <form>
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control text-center" id="name" placeholder="Seu nome" />
        </div>
        <div class="form-group">
          <label for="contact">E-mail</label>
          <input type="text" class="form-control text-center" id="contact" placeholder="Seu e-mail" />
        </div>
        <div class="form-group">
          <label for="subject">Assunto</label>
          <textarea class="form-control text-center" id="subject" placeholder="Assunto" rows="4"></textarea>
        </div>
        <button type="submit" class="btn">Enviar</button>
      </form>
    </div>
  </div>
</div>


<!-- Container Trabalhe conosco -->
<div class="container mt-5" id="ContainerTrabalheConosco">
  <div class="row">
    <div class="col-md-12 col-sm-12 text-center">
      <h2>Trabalhe Conosco</h2>
      <form>
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control text-center" id="name" placeholder="Seu nome" />
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control text-center" id="email" placeholder="Seu e-mail" />
        </div>
        <button type="submit" class="btn">Enviar</button>
        <br />
        <p>Cheque nossas vagas abertas: </p>
        <a href="https://www.linkedin.com/in/antiquary-artigos-antigos-30458728a/" class="btn">Ver Vagas</a>
      </form>
    </div>
  </div>
</div>
