@import '../../styles.scss';

#container {
  padding: 30px 0;

  form {
    width: 85%;
    max-width: 1140px;
    margin: auto;
    background: $cinza;
    border-radius: 4px;
    padding: 30px 30px;

    h2 {
      margin: 0;
      color: $cor-secundaria;
      font-size: $tamanho-fonte-enorme;
      font-family: $fonte-principal;
      text-align: center;
    }

    @media (max-width: 410px) {
      h2 {
        font-size: $tamanho-fonte-muito-grande;
      }
    }

    .form-group {
      width: 100%;

      &:first-of-type {
        margin-top: 25px;
      }

      label {
        color: $cor-secundaria;
        font-size: $tamanho-fonte-grande;
      }

      .imagem,
      .titulo,
      .preco {
        width: 100%;
        border: 3px solid $cor-terciaria;
        font-size: $tamanho-fonte-normal;
        color: black;
      }

      textarea {
        resize: vertical;
        overflow: auto;
        width: 100%;
        border: 3px solid $cor-terciaria;
        font-size: $tamanho-fonte-normal;
        color: black;
      }

      .form-check {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
      }

      #imagens {
        display: flex;
        flex-direction: row;

        .remover-imagem-btn {
          background-color: adjust-color($color: $cinza, $lightness: -3%);
        }
      }

      .extra {
        margin-top: 5px;
      }
    }

    #adicionar-imagem {
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      button {
        width: 100%;
        margin-bottom: 12px;
        background-color: adjust-color($color: $cinza, $lightness: -3%);
      }
    }

    article {
      padding-top: 20px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .gpt-help {
    background-color: $cor-principal;
    color: white;
    margin-bottom: 12px;
  }

  article {
    #enviar {
      width: 100%;
      background-color: $cor-principal;
      color: white;
    }
  }

  @media (max-width: 990px) {
    form {
      width: 95%;
    }
  }
}

.alert {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  min-width: fit-content;
  visibility: hidden;
  transition: all ease 0.5s;

  p {
    margin: 0;
  }
}

.mensagem {
  visibility: visible;
}
