<section class="saudacao">
  <h1>Bem-vindo ao seu perfil!</h1>
  <div>
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalExibicao">
      <article>
        <p><strong><i class="bi bi-hearts"></i>&nbsp;123</strong></p>
        <p>seguidores</p>
      </article>
    </button>
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalExibicao">
      <article>
        <p><strong><i class="bi bi-person-hearts"></i>&nbsp;232</strong></p>
        <p>seguindo</p>
      </article>
    </button>
  </div>
</section>

<div id="container">

  <!-- Lado esquerdo do campo de preenchimento -->
  <section class="container-info">
    <h2>Dados Pessoais</h2>

    <div>
      <!--  Adicionar aqui,confome a pessoa preencheu no cadastro -->
      <article>
        <p><strong>Nome:</strong> </p>
      </article>
      <button class="btn btn-link" (click)="editarCampo('nome')">Editar</button>
    </div>

    <div>
      <!--  Adicionar aqui,confome a pessoa preencheu no cadastro -->
      <article>
        <p><strong>E-mail: </strong> </p>
      </article>
      <button class="btn btn-link" (click)="editarCampo('email')">Editar</button>
    </div>

    <div>
      <!--  Adicionar aqui,confome a pessoa preencheu no cadastro -->
      <!-- Colocar variável da senha utilizada em cadastro e que ela não seja mostrada, só com o botão de visualizar hehehe -->
      <article>
        <p><strong>Senha:</strong> </p>
      </article>
      <button class="btn btn-link" (click)="editarCampo('senha')">Editar</button>
    </div>
  </section>

  <!-- Lado direito do campo de preenchimento -->
  <section class="container-info">
    <h2>Informações de Contato</h2>

    <div>
      <!--  Adicionar aqui,confome a pessoa preencheu no cadastro -->
      <article>
        <p><strong>Endereço: </strong> </p>
      </article>
      <button class="btn btn-link" (click)="editarCampo('endereco')">Editar</button>
    </div>

    <div>
      <!--  Adicionar aqui,confome a pessoa preencheu no cadastro -->
      <article>
        <p><strong>Celular: </strong> </p>
      </article>
      <button class="btn btn-link" (click)="editarCampo('celular')">Editar</button>
    </div>
  </section>
</div>

<div class="modal fate" id="modalExibicao" tabindex="-1" aria-hidden="true">
  <section class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <article class="modal-body">

        <!-- Seguidires -->
        <section *ngIf="true">
          <div class="row" *ngFor="let seguidor of seguidores">
            <a [routerLink]="'/perfil/' + seguidor.id">{{ seguidor.nome }}</a>
          </div>
        </section>

        <!-- Seguindo -->
        <section *ngIf="false">

        </section>
      </article>
      <article class="modal-footer" *ngIf="false">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </article>
      <article class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ titulo }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </article>
    </div>
  </section>
</div>
