<div id="container" class="container">

  <!-- Lado esquerdo do campo de preenchimento -->
  <div class="container-info">
    <h2>Dados Pessoais</h2>

    <div class="mb-3 d-flex align-items-center">
      <label for="nome" class="form-label me-3">Nome:</label>
      <input type="text" class="form-control" id="nome" name="nome">
      <button class="btn btn-link">Editar</button>
    </div>

    <div class="mb-3 d-flex align-items-center">
      <label for="email" class="form-label me-3">E-mail:</label>
      <input type="text" class="form-control" id="email" name="email">
      <button class="btn btn-link">Editar</button>
    </div>

    <div class="mb-3 d-flex align-items-center">
      <label for="senha" class="form-label me-3">Senha:</label>
      <input type="password" class="form-control" id="senha" name="senha">
      <button class="btn btn-link">Editar</button>
    </div>
  </div>

  <!-- Lado direito do campo de preenchimento -->
  <div class="container-info">
    <h2>Informações de Contato</h2>

    <div class="mb-3 d-flex align-items-center">
      <label for="endereco" class="form-label me-3">Endereço:</label>
      <input type="text" class="form-control" id="endereco" name="endereco">
      <button class="btn btn-link">Editar</button>
    </div>

    <div class="mb-3 d-flex align-items-center">
      <label for="celular" class="form-label me-3">Celular:</label>
      <input type="text" class="form-control" id="celular" name="celular">
      <button class="btn btn-link">Editar</button>
    </div>

    <!-- Seriam as pessoas que ele segue dentro da plataforma -->
    <div class="rede-pessoal">

    </div>
  </div>
</div>
