@import "../../styles.scss";

.saudacao {
  padding-top: 30px;
  max-width: 1140px;
  margin: auto;

  h1 {
    color: $cor-secundaria;
    font-size: $tamanho-fonte-enorme;
    font-family: $fonte-principal;
  }

  div {
    display: flex;
    gap: 30px;

    button {

      &:focus {
        box-shadow: none;
      }
      article {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          margin: 0;

          i {
            color: $cor-principal;
          }
        }
      }
    }
  }
}

#container {
  display: flex;
  justify-content: center;
  max-width: 1140px;
  margin: auto;


  .container-info {
    width: calc(50% - 10px);
    margin: 30px 0;
    background: $cinza;
    border-radius: 4px;
    padding: 20px;

    &:first-of-type {
      margin-right: 10px;
    }

    h2 {
      text-align: center;
      margin-bottom: 30px;
      font-size: $tamanho-fonte-muito-grande;
      font-family: $fonte-secundaria;
      color: $cor-principal;
    }

    div {
      margin: 15px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      article {
        p {
          margin: 0;
        }
      }
    }
  }

  @media (max-width: 990px) {
    .container-info {
      width: 95%;
      margin: 5px 0;

      &:first-of-type {
        margin-right: 0;
        margin-top: 30px;
      }

      &:last-child {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 990px) {
  #container {
    flex-wrap: wrap;
  }
}
