// Cores
$cor-principal: #7a1b0c;
$cor-secundaria: #112d3b;
$cor-terciaria: #b8860b;

// Fontes
$fonte-principal: 'Roboto', sans-serif;
$fonte-secundaria: 'Open Sans', sans-serif;

// Tamanhos de Fonte
$tamanho-fonte-pequena: 14px;
$tamanho-fonte-normal: 16px;
$tamanho-fonte-grande: 18px;
$tamanho-fonte-muito-grande: 24px;
$tamanho-fonte-enorme: 36px;