<div id="container">
  <h1>Antiquary</h1>
  <h5>Tesouros a um clique de distância</h5>
  <p>Entre, explore e descubra as relíquias históricas perdidas, que você encontrará <strong>aqui</strong>.</p>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="tagDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filtrar por Tags
    </button>
    <div class="dropdown-menu" aria-labelledby="tagDropdown">
      <a class="dropdown-item" (click)="filtrarItensPorTag('')">Todos Itens</a>
      <a class="dropdown-item" (click)="filtrarItensPorTag('Decoração')">Decoração</a>
      <a class="dropdown-item" (click)="filtrarItensPorTag('Móveis')">Móveis</a>
      <a class="dropdown-item" (click)="filtrarItensPorTag('Acessórios')">Acessórios</a>
    </div>
  </div>
  
  <!-- Container dos cards -->
  <section class="row">
    <article class="col-lg-4 col-md-12" *ngFor="let item of itensFiltrados.reverse()">

      <!-- Inicio do card -->
      <div class="card mb-4">

        <!-- Imagem do card -->
        <div class="card-img-container imagem-card">
          <img class="card-img-top imagem" [src]="item.imagens[0]" [alt]="item.titulo" />
        </div>

        <!-- Corpo do card -->
        <div class="card-body conteudo-card">
          <h5 class="card-title">{{ item.titulo }}</h5>
          <p class="card-text">
            Vendedor: {{ getNomeUsuario(item.usuario_id) }}
          </p>
          <p class="preco">{{ item.preco | currency }}</p>
        </div>

        <!-- Footer com os botões -->
        <div class="card-footer d-flex botoes-card">
          <button class="btn detalhes-produto" (click)="verDetalhes(item.id)">
            Mais detalhes
          </button>
          <button class="btn contato" (click)="contato(item.usuario_id)">
            <i class="bi bi-whatsapp"></i>&nbsp;Contato
          </button>
        </div>
      </div>
    </article>
  </section>
</div>

<div id="botao-voltar-topo">
  <button class="btn" id="botao-topo" (click)="voltarAoTopo()">
    <i class="bi bi-arrow-up"></i>
  </button>
</div>
