<div id="container">
  <h1>ANTIQUARY</h1>
  <h5>Tesouros a um clique de distância</h5>
  <p>Explore e descubra as relíquias históricas perdidas, que você encontrará apenas <strong>aqui</strong>.</p>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="tagDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filtrar por categoria
    </button>
    <div class="dropdown-menu" aria-labelledby="tagDropdown">
      <a class="dropdown-item" style="cursor: pointer;" (click)="filtrarItensPorTag('')">Todos Itens</a>
      <a class="dropdown-item" style="cursor: pointer;" (click)="filtrarItensPorTag('Acessórios')">Acessórios</a>
      <a class="dropdown-item" style="cursor: pointer;" (click)="filtrarItensPorTag('Decoração')">Decoração</a>
      <a class="dropdown-item" style="cursor: pointer;" (click)="filtrarItensPorTag('Máquina')">Máquina</a>
      <a class="dropdown-item" style="cursor: pointer;" (click)="filtrarItensPorTag('Móveis')">Móveis</a>
      <a class="dropdown-item" style="cursor: pointer;" (click)="filtrarItensPorTag('Relógio')">Relógiio</a>
      <a class="dropdown-item" style="cursor: pointer;" (click)="filtrarItensPorTag('Tapeçaria')">Tapeçaria</a>
    </div>
  </div>
  
  <!-- Container dos cards -->
  <section class="row">
    <article class="col-lg-4 col-md-12" *ngFor="let item of this.produtoService.getItensReverse()">

      <!-- Inicio do card -->
      <div class="card mb-4" *ngIf="item.getTags().includes(this.tag) || this.tag === ''">

        <!-- Imagem do card -->
        <div class="card-img-container imagem-card">
          <img class="card-img-top imagem" [src]="item.getImagens()[0]" [alt]="item.getTitulo()" />
        </div>

        <!-- Corpo do card -->
        <div class="card-body conteudo-card">
          <h5 class="card-title">{{ item.getTitulo() }}</h5>
          <p class="card-text">
            Vendedor: {{ getNomeUsuario(item.getUsuarioId()) }}
          </p>
          <p class="preco">{{ item.getPreco() | currency }}</p>
        </div>

        <!-- Footer com os botões -->
        <div class="card-footer d-flex botoes-card">
          <button class="btn detalhes-produto" (click)="verDetalhes(item.getId()); this.produtoService.selecionarItem(item.getId())">
            Mais detalhes
          </button>
          <button class="btn contato" (click)="contato(item.getUsuarioId())">
            <i class="bi bi-whatsapp"></i>&nbsp;Contato
          </button>
        </div>
      </div>
    </article>
  </section>
</div>

<div id="botao-voltar-topo">
  <button class="btn" id="botao-topo" (click)="voltarAoTopo()">
    <i class="bi bi-arrow-up"></i>
  </button>
</div>
