@import '../../styles.scss';

h1{
    color: $cor-principal;
    font-family: $fonte-principal;
}

p{
    color: $cor-terciaria;
    font-size: $tamanho-fonte-enorme;
    font-family: $fonte-secundaria;
}