<input type="text" [(ngModel)]="teste">
<button (click)="chamaGeradorDescricao($event)">Enviar</button>

<p>{{ textoGerado }}</p>

<h1 *ngIf="this.usuarioService.getLogado()">{{ this.usuarioPrincipal.getNome() }}</h1>

<h2 *ngIf="this.usuarioService.getLogado()">{{ usuarioAlvo.getNome() }}</h2>

<div *ngIf="this.usuarioService.getLogado()">
    <p *ngFor="let usuario of todosUsuarios">{{ usuario.getNome() }}</p>
</div>

<button (click)="fazerLogin()">Logar</button>
<button (click)="criarUsuario()">Criar</button>
