<div id="container">

  <!-- Inicio do card -->
  <article *ngIf="abrir" class="card" id="card">
    <div class="row g-0">

      <!-- Carrossel card -->
      <section id="imagens-item" class="carousel slide col-lg-6 col-md-12 p-0">
        <div class="carousel-inner">

          <!-- Primeira imagem do carrossel -->
          <article class="carousel-item active">
            <img [src]="this.produtoService.getItem().getImagens()[0]" class="d-block fundo"
              [alt]="this.produtoService.getItem().getTitulo()">
            <img [src]="this.produtoService.getItem().getImagens()[0]" class="d-block imagem-exibicao"
              [alt]="this.produtoService.getItem().getTitulo()">
          </article>

          <!-- Outras imagens -->
          <article class="carousel-item" *ngFor="let imagem of this.produtoService.getItem().getImagens().slice(1)">
            <img [src]="imagem" class="d-block fundo" [alt]="this.produtoService.getItem().getTitulo()">
            <img [src]="imagem" class="d-block imagem-exibicao" [alt]="this.produtoService.getItem().getTitulo()">
          </article>
        </div>

        <!-- Botoes para contrlar o carrossel -->
        <button class="carousel-control-prev" type="button" data-bs-target="#imagens-item" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#imagens-item" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </section>

      <!-- Descrição do item a venda -->
      <section class="col-lg-6 col-md-12" id="descricao-item">
        <div class="card-body">
          <h1>{{ this.produtoService.getItem().getTitulo() }}</h1>
          <p>
            {{ this.produtoService.getItem().getDescricao() }}
          </p>
          <p>
            <strong>Categorias:</strong>
            <br>
            {{ this.produtoService.getItem().getTags() }}
          </p>
          <p id="preco">
            <strong>Preço:</strong>
            <br>
            {{ this.produtoService.getItem().getPreco() | currency }}
          </p>
          <p>
            <strong>Vendido por:</strong>
            {{ this.produtoService.getVendedorItem().getNome() }}
          </p>
          <button id="vendedor" class="btn btn-lg"
            (click)="this.produtoService.selecionaVendedor(this.produtoService.getItem().getUsuarioId()); verVendedor(this.produtoService.getVendedorItem().getId())">Vendedor</button>
          <button id="contato" (click)="contato()" class="btn btn-lg">
            <i class="bi bi-whatsapp"></i>
            &nbsp;Contato
          </button>
        </div>
      </section>
    </div>
  </article>
</div>
