@import '../../styles.scss';

#container {
  width: 85%;
  max-width: 1140px;
  padding: 30px 0 30px 0;
  margin: auto;

  #card {
    overflow: hidden;
    
    div {
      margin: 0;
      height: 100%;

      #imagens-item {
        div {
          article {
            position: relative;
            width: 100%;
            height: 100%;

            .imagem-exibicao {
              height: 100%;
              width: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              object-fit: contain;

            }

            .fundo {
              width: 100%;
              height: 100%;
              filter: blur(20px);
            }
          }
        }
      }

      @media (max-width: 990px) {
        #imagens-item {
          height: 300px;
        }
      }

      #descricao-item {
        div {
          h1 {
            font-size: $tamanho-fonte-enorme;
            font-family: $fonte-principal;
            color: $cor-principal;
          }

          p {
            font-family: $fonte-secundaria;
            font-size: $tamanho-fonte-normal;
            line-height: $tamanho-fonte-enorme;
          }

          #preco {
            font-size: $tamanho-fonte-muito-grande;
            color: $cor-principal;
          }

          button {
            width: calc(50% - 10px);

            &:first-of-type {
              margin-right: 10px;
            }
          }

          #vendedor {
            background-color: $cor-principal;
            color: white;
          }

          #contato {
            background-color: $whatsapp;
          }

          @media (max-width: 990px) {
            #vendedor {
              font-size: $tamanho-fonte-pequena;
            }

            #contato {
              font-size: $tamanho-fonte-pequena;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px){
  #container {
    width: 95%;
  }
}
